In [1]:
States = ['Ohio', 'Georgia', 'New Jersey', 'North Carolina']

for item in States:
    print(item)

Ohio
Georgia
New Jersey
North Carolina

In [2]:
Numbers = [2,1,4,5,7,6,9]

for item in Numbers: 
    if (item % 2 == 0):
        print(item)

2
4
6

In [4]:
for item in Numbers: 
    if (item % 3 == 0):
        print(item)

6
9

In [ ]:
# Printing a string of Even and Odd numbers and formatting the string

In [6]:
for item in Numbers: 
    if (item % 2 == 0):
        print(f'Even number: {item}')
    else: 
        print(f'Odd  number: {item}')

Even number: 2
Odd  number: 1
Even number: 4
Odd  number: 5
Odd  number: 7
Even number: 6
Odd  number: 9

In [7]:
total = 0

for item in Numbers: 
    total = item + total
#indented
    print (total)

2
3
7
12
19
25
34

In [8]:
total = 0

for item in Numbers: 
    total = item + total
# not indented
print (total)

34

In [9]:
#Print letters in a String

my_string = "A whole new world"

for letters in my_string:
    print(letters)

A

w
h
o
l
e

n
e
w

w
o
r
l
d

In [4]:
# Tuple Unpacking

In [ ]:
# Allows you to print only the tuple value that you want while leaving the other

In [2]:
my_list = [(1,2),(3,4),(5,6)]

In [3]:
for (a,b) in my_list:
    print(a)

1
3
5

In [1]:
my_second_list = [(1,2,3),(4,5,6),(7,8,9)]

In [3]:
for (a,b,c) in my_second_list :
    print (b)

2
5
8

In [4]:
# looping through dictionaries

In [13]:
d = {'a':2, 'b':3, 'c':4}

In [ ]:
# Printing Keys

In [14]:
for item in d:
    print (item)

a
b
c

In [ ]:
# Printing Keys and Values

In [16]:
for item in d.items():
    print (item)

('a', 2)
('b', 3)
('c', 4)

In [ ]:
# Printing Values

In [17]:
for key,value in d.items():
    print (value)

2
3
4